.nav {
	&__list {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item:nth-child(3) {
		order: 2;
	}

	&__link {
		position: relative;
		display: block;
		padding: 14px 0;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		background-color: #81b3d2;
		border-top: 1px solid #9ac2db;
		border-bottom: 1px solid #678fa8;
	}
	
	&__link:hover {
		background-color: #669ec0;
	}

	&__link:active {
		background-color: #5496bd;
		color: rgba(255, 255, 255, 0.3);
	}

	&__link--no-border {
		border-top: none;
	}

	&__link--white {
		border-bottom: none;
		border-top: none;
		height: 56px;
		padding: 0;
		background-color: #fff;
	}
	
	&__link--white:hover {
		background-color: #fff;
	}

	&__link--white:active {
		background-color: #fff;
		color: #fff;
	}

	&__logo {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__close-menu {
		font-size: 0;
		width: 23px;
		height: 22px;
		position: absolute;
		border: none;
	}

	&__open-menu {
		font-size: 0;
		width: 23px;
		height: 22px;
		position: absolute;
		bottom: 20px;
		right: 20px;
		border: none;
	}
}

@media (min-width: @tablet-width) {

	.page-header {
		width: 768px;
	}

	.nav {
		&__list {
			flex-direction: row;
		}

		&__item:nth-child(3) {
			order: 0;
		}

		&__item {
			width: 20%;
		}

		&__link {
			font-size: 14px;
			line-height: 28px;
			color: #000000;
			background-color: #ffffff;
			border: none;
		}

		&__close-menu {
			display: none;
		}

		&__open-menu {
			display: none;
		}
	}
}
@media (min-width: @desktop-width) {

	.page-header {
		width: 1200px;
	}
}